# PROJECTS ROOT
DOCUMENT_ROOT=~/Projets/www

# PHP #
PHP_INI=./config/php/php.ini

# APACHE
VHOSTS_DIR=./config/vhosts
CERTS_DIR=../certs
APACHE_LOG_DIR=./logs/apache2

# DB #
DATABASE=mysql8
MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql
MYSQL_ROOT_PASSWORD=p@s$w0rd17
MYSQL_USER=damien
MYSQL_PASSWORD=p@s$w0rd17
MYSQL_DATABASE=damien
